In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline 
%load_ext autoreload
%autoreload 2

In [10]:
df = pd.read_csv('data/data_a/all_050_in_53.P42.csv (1).csv')

In [13]:
df_1 = pd.read_csv('data/data_a/all_050_in_53.P43.csv.csv')

In [ ]:
df_a = df[['COUNTY', 'P042003', ]]

In [16]:
df['P042003']

0       28
1       47
2      692
3     1037
4        7
5      348
6        0
7      239
8     2145
9       57
10     420
11    3713
12     410
13     118
14      32
15     161
16      13
17    1951
18     158
19      21
20    5282
21       0
22     194
23      25
24    3710
25    3055
26      37
27     948
28       6
29     450
30      38
31    1288
32     302
33     946
34      24
35    1623
36       0
37      25
38    2410
Name: P042003, dtype: int64

In [12]:
df.head().T

,0,1,2,3,4
GEOID,53001,53003,53005,53009,53013
SUMLEV,50,50,50,50,50
STATE,53,53,53,53,53
COUNTY,1,3,5,9,13
CBSA,99999,30300,28420,38820,99999
CSA,999,999,999,999,999
NECTA,NaN,NaN,NaN,NaN,NaN
CNECTA,NaN,NaN,NaN,NaN,NaN
NAME,Adams County,Asotin County,Benton County,Clallam County,Columbia County
POP100,18728,21623,175177,71404,4078
HU100,6242,9872,68618,35582,2136
POP100.2000,16428,20551,142475,64525,4064
HU100.2000,5773,9111,55963,30683,2018
P042001,162,174,1426,1899,75
P042001.2000,245,342,823,1868,78
P042002,161,150,1128,1293,46
P042002.2000,112,171,622,1624,48
P042003,28,47,692,1037,7
P042003.2000,15,31,264,1313,2
P042004,0,0,36,19,0
P042004.2000,NaN,NaN,NaN,NaN,NaN
P042005,133,103,393,237,39
P042005.2000,89,117,276,281,4
P042006,0,0,7,0,0
P042006.2000,NaN,NaN,NaN,NaN,NaN
P042007,1,24,298,606,29
P042007.2000,133,171,201,244,30
P042008,0,0,0,9,0
P042008.2000,0,0,0,63,0
P042009,0,0,0,103,0
P042009.2000,0,0,0,36,0
P042010,1,24,298,494,29
P042010.2000,133,171,201,145,30

In [15]:
df_1.head().T

,0,1,2,3,4
GEOID,53001,53003,53005,53009,53013
SUMLEV,50,50,50,50,50
STATE,53,53,53,53,53
COUNTY,1,3,5,9,13
CBSA,99999,30300,28420,38820,99999
CSA,999,999,999,999,999
NECTA,NaN,NaN,NaN,NaN,NaN
CNECTA,NaN,NaN,NaN,NaN,NaN
NAME,Adams County,Asotin County,Benton County,Clallam County,Columbia County
POP100,18728,21623,175177,71404,4078
HU100,6242,9872,68618,35582,2136
POP100.2000,16428,20551,142475,64525,4064
HU100.2000,5773,9111,55963,30683,2018
P043001,162,174,1426,1899,75
P043001.2000,245,342,823,1868,78
P043002,71,86,844,1417,42
P043002.2000,117,89,445,1521,31
P043003,1,0,31,31,0
P043003.2000,26,3,73,76,3
P043004,1,0,26,14,0
P043004.2000,2,3,62,74,3
P043005,1,0,1,0,0
P043005.2000,0,3,2,74,0
P043006,0,0,25,14,0
P043006.2000,NaN,NaN,NaN,NaN,NaN
P043007,0,0,0,0,0
P043007.2000,0,0,0,0,0
P043008,0,0,0,0,0
P043008.2000,NaN,NaN,NaN,NaN,NaN
P043009,0,0,5,17,0
...,...,...,...,...,...
P043049,0,0,0,0,0
P043049.2000,NaN,NaN,NaN,NaN,NaN
P043050,1,3,63,110,8
P043050.2000,35,15,34,61,12
P043051,0,0,0,2,0
P043051.2000,0,0,0,28,0
P043052,0,0,0,25,0
P043052.2000,0,0,0,4,0
P043053,1,3,63,83,8
P043053.2000,35,15,34,29,12
P043054,73,68,377,334,23
P043054.2000,55,226,271,250,33
P043055,73,58,250,160,21
P043055.2000,48,101,186,218,32
P043056,0,0,0,0,0
P043056.2000,0,0,0,0,0
P043057,0,0,0,0,0
P043057.2000,NaN,NaN,NaN,NaN,NaN
P043058,73,58,246,160,21
P043058.2000,48,91,185,199,4
P043059,0,0,4,0,0
P043059.2000,NaN,NaN,NaN,NaN,NaN
P043060,0,10,127,174,2
P043060.2000,7,125,85,32,1
P043061,0,0,0,0,0
P043061.2000,0,0,0,0,0
P043062,0,0,0,0,0
P043062.2000,0,0,0,0,0
P043063,0,10,127,174,2
P043063.2000,7,125,85,32,1

In [23]:
dff = pd.read_csv('data/DEC_10_SF1_P43_with_ann.csv')

In [24]:
dff.head().T

,0,1,2,3,4
GEO.id,Id,0500000US53001,0500000US53003,0500000US53005,0500000US53007
GEO.id2,Id2,53001,53003,53005,53007
GEO.display-label,Geography,"Adams County, Washington","Asotin County, Washington","Benton County, Washington","Chelan County, Washington"
D001,Total:,162,174,1426,928
D002,Male:,71,86,844,553
D003,Male: - Under 18 years:,1,0,31,47
D004,Male: - Under 18 years: - Institutionalized po...,1,0,26,12
D005,Male: - Under 18 years: - Institutionalized po...,1,0,1,0
D006,Male: - Under 18 years: - Institutionalized po...,0,0,25,12
D007,Male: - Under 18 years: - Institutionalized po...,0,0,0,0
D008,Male: - Under 18 years: - Institutionalized po...,0,0,0,0
D009,Male: - Under 18 years: - Noninstitutionalized...,0,0,5,35
D010,Male: - Under 18 years: - Noninstitutionalized...,0,0,0,0
D011,Male: - Under 18 years: - Noninstitutionalized...,0,0,0,0
D012,Male: - Under 18 years: - Noninstitutionalized...,0,0,5,35
D013,Male: - 18 to 64 years:,42,51,679,431
D014,Male: - 18 to 64 years: - Institutionalized po...,42,44,624,274
D015,Male: - 18 to 64 years: - Institutionalized po...,27,38,589,256
D016,Male: - 18 to 64 years: - Institutionalized po...,0,0,0,0
D017,Male: - 18 to 64 years: - Institutionalized po...,15,6,35,18
D018,Male: - 18 to 64 years: - Institutionalized po...,0,0,0,0
D019,Male: - 18 to 64 years: - Noninstitutionalized...,0,7,55,157
D020,Male: - 18 to 64 years: - Noninstitutionalized...,0,0,0,11
D021,Male: - 18 to 64 years: - Noninstitutionalized...,0,0,0,0
D022,Male: - 18 to 64 years: - Noninstitutionalized...,0,7,55,146
D023,Male: - 65 years and over:,28,35,134,75
D024,Male: - 65 years and over: - Institutionalized...,28,31,89,54
D025,Male: - 65 years and over: - Institutionalized...,0,0,2,2
D026,Male: - 65 years and over: - Institutionalized...,0,0,0,0
D027,Male: - 65 years and over: - Institutionalized...,28,31,84,52
...,...,...,...,...,...
D034,Female: - Under 18 years:,0,1,13,29
D035,Female: - Under 18 years: - Institutionalized ...,0,1,10,2
D036,Female: - Under 18 years: - Institutionalized ...,0,1,0,0
D037,Female: - Under 18 years: - Institutionalized ...,0,0,10,2
D038,Female: - Under 18 years: - Institutionalized ...,0,0,0,0
D039,Female: - Under 18 years: - Institutionalized ...,0,0,0,0
D040,Female: - Under 18 years: - Noninstitutionaliz...,0,0,3,27
D041,Female: - Under 18 years: - Noninstitutionaliz...,0,0,0,1
D042,Female: - Under 18 years: - Noninstitutionaliz...,0,0,0,0
D043,Female: - Under 18 years: - Noninstitutionaliz...,0,0,3,26
D044,Female: - 18 to 64 years:,18,19,192,160
D045,Female: - 18 to 64 years: - Institutionalized ...,17,16,129,63
D046,Female: - 18 to 64 years: - Institutionalized ...,0,8,100,44
D047,Female: - 18 to 64 years: - Institutionalized ...,0,0,1,0
D048,Female: - 18 to 64 years: - Institutionalized ...,17,8,28,19
D049,Female: - 18 to 64 years: - Institutionalized ...,0,0,0,0
D050,Female: - 18 to 64 years: - Noninstitutionaliz...,1,3,63,97
D051,Female: - 18 to 64 years: - Noninstitutionaliz...,0,0,0,20
D052,Female: - 18 to 64 years: - Noninstitutionaliz...,0,0,0,0
D053,Female: - 18 to 64 years: - Noninstitutionaliz...,1,3,63,77
D054,Female: - 65 years and over:,73,68,377,186
D055,Female: - 65 years and over: - Institutionaliz...,73,58,250,152
D056,Female: - 65 years and over: - Institutionaliz...,0,0,0,0
D057,Female: - 65 years and over: - Institutionaliz...,0,0,0,0
D058,Female: - 65 years and over: - Institutionaliz...,73,58,246,152
D059,Female: - 65 years and over: - Institutionaliz...,0,0,4,0
D060,Female: - 65 years and over: - Noninstitutiona...,0,10,127,34
D061,Female: - 65 years and over: - Noninstitutiona...,0,0,0,0
D062,Female: - 65 years and over: - Noninstitutiona...,0,0,0,0
D063,Female: - 65 years and over: - Noninstitutiona...,0,10,127,34

In [101]:
white_df = pd.read_csv('data/group_quarters_by_race/DEC_10_SF1_PCT20A_with_ann.csv')
white_df.head()
'''
insitutionalized by race, by county in WA state
'''
white_df = white_df[['GEO.id2', 'GEO.display-label', 'D003']]
white_df.columns= ['GEO.id2', 'GEO.display-label', 'white']
white_df.head()

,GEO.id2,GEO.display-label,white
0,Id2,Geography,"Institutionalized population (101-106, 201-203..."
1,53001,"Adams County, Washington",14
2,53003,"Asotin County, Washington",46
3,53005,"Benton County, Washington",610
4,53007,"Chelan County, Washington",272

In [102]:
black_df = pd.read_csv('data/group_quarters_by_race/DEC_10_SF1_PCT20B_with_ann.csv')
black_df = black_df[['GEO.id2', 'GEO.display-label', 'D003']]
black_df.columns= ['GEO.id2', 'GEO.display-label', 'black']
black_df.head()

,GEO.id2,GEO.display-label,black
0,Id2,Geography,"Institutionalized population (101-106, 201-203..."
1,53001,"Adams County, Washington",0
2,53003,"Asotin County, Washington",0
3,53005,"Benton County, Washington",55
4,53007,"Chelan County, Washington",3

In [103]:
american_indian_df = pd.read_csv('data/group_quarters_by_race/DEC_10_SF1_PCT20C_with_ann.csv')
american_indian_df = american_indian_df[['GEO.id2', 'GEO.display-label', 'D003']]
american_indian_df.columns= ['GEO.id2', 'GEO.display-label', 'american_indian']
american_indian_df.head()

,GEO.id2,GEO.display-label,american_indian
0,Id2,Geography,"Institutionalized population (101-106, 201-203..."
1,53001,"Adams County, Washington",1
2,53003,"Asotin County, Washington",1
3,53005,"Benton County, Washington",9
4,53007,"Chelan County, Washington",17

In [106]:
asian_df = pd.read_csv('data/group_quarters_by_race/DEC_10_SF1_PCT20D_with_ann.csv')
asian_df = asian_df[['GEO.id2', 'GEO.display-label','D003']]
asian_df.columns= ['GEO.id2', 'GEO.display-label', 'asian']
asian_df.head()

,GEO.id2,GEO.display-label,asian
0,Id2,Geography,"Institutionalized population (101-106, 201-203..."
1,53001,"Adams County, Washington",0
2,53003,"Asotin County, Washington",0
3,53005,"Benton County, Washington",6
4,53007,"Chelan County, Washington",8

In [107]:
pacific_islander_df = pd.read_csv('data/group_quarters_by_race/DEC_10_SF1_PCT20E_with_ann.csv')
pacific_islander_df = pacific_islander_df[['GEO.id2', 'GEO.display-label', 'D003']]
pacific_islander_df.columns= ['GEO.id2', 'GEO.display-label', 'pacific_islander']

pacific_islander_df.head()

,GEO.id2,GEO.display-label,pacific_islander
0,Id2,Geography,"Institutionalized population (101-106, 201-203..."
1,53001,"Adams County, Washington",0
2,53003,"Asotin County, Washington",0
3,53005,"Benton County, Washington",0
4,53007,"Chelan County, Washington",1

In [108]:
hispanic_df = pd.read_csv('data/group_quarters_by_race/DEC_10_SF1_PCT20H_with_ann.csv')
hispanic_df = hispanic_df[['GEO.id2', 'GEO.display-label', 'D003']]
hispanic_df.columns= ['GEO.id2', 'GEO.display-label', 'hispanic']
hispanic_df.head()

,GEO.id2,GEO.display-label,hispanic
0,Id2,Geography,"Institutionalized population (101-106, 201-203..."
1,53001,"Adams County, Washington",21
2,53003,"Asotin County, Washington",0
3,53005,"Benton County, Washington",161
4,53007,"Chelan County, Washington",93

In [110]:
complete_df = pd.concat([white_df,pacific_islander_df, asian_df, black_df,  american_indian_df, hispanic_df], axis=1)

,GEO.id2,GEO.display-label,white,GEO.id2,GEO.display-label,pacific_islander,GEO.id2,GEO.display-label,asian,GEO.id2,GEO.display-label,black,GEO.id2,GEO.display-label,american_indian,GEO.id2,GEO.display-label,hispanic
0,Id2,Geography,"Institutionalized population (101-106, 201-203...",Id2,Geography,"Institutionalized population (101-106, 201-203...",Id2,Geography,"Institutionalized population (101-106, 201-203...",Id2,Geography,"Institutionalized population (101-106, 201-203...",Id2,Geography,"Institutionalized population (101-106, 201-203...",Id2,Geography,"Institutionalized population (101-106, 201-203..."
1,53001,"Adams County, Washington",14,53001,"Adams County, Washington",0,53001,"Adams County, Washington",0,53001,"Adams County, Washington",0,53001,"Adams County, Washington",1,53001,"Adams County, Washington",21
2,53003,"Asotin County, Washington",46,53003,"Asotin County, Washington",0,53003,"Asotin County, Washington",0,53003,"Asotin County, Washington",0,53003,"Asotin County, Washington",1,53003,"Asotin County, Washington",0
3,53005,"Benton County, Washington",610,53005,"Benton County, Washington",0,53005,"Benton County, Washington",6,53005,"Benton County, Washington",55,53005,"Benton County, Washington",9,53005,"Benton County, Washington",161
4,53007,"Chelan County, Washington",272,53007,"Chelan County, Washington",1,53007,"Chelan County, Washington",8,53007,"Chelan County, Washington",3,53007,"Chelan County, Washington",17,53007,"Chelan County, Washington",93
5,53009,"Clallam County, Washington",685,53009,"Clallam County, Washington",1,53009,"Clallam County, Washington",4,53009,"Clallam County, Washington",249,53009,"Clallam County, Washington",54,53009,"Clallam County, Washington",94
6,53011,"Clark County, Washington",814,53011,"Clark County, Washington",0,53011,"Clark County, Washington",5,53011,"Clark County, Washington",98,53011,"Clark County, Washington",18,53011,"Clark County, Washington",70
7,53013,"Columbia County, Washington",6,53013,"Columbia County, Washington",0,53013,"Columbia County, Washington",0,53013,"Columbia County, Washington",0,53013,"Columbia County, Washington",0,53013,"Columbia County, Washington",1
8,53015,"Cowlitz County, Washington",320,53015,"Cowlitz County, Washington",2,53015,"Cowlitz County, Washington",3,53015,"Cowlitz County, Washington",15,53015,"Cowlitz County, Washington",8,53015,"Cowlitz County, Washington",20
9,53017,"Douglas County, Washington",0,53017,"Douglas County, Washington",0,53017,"Douglas County, Washington",0,53017,"Douglas County, Washington",0,53017,"Douglas County, Washington",0,53017,"Douglas County, Washington",0
10,53019,"Ferry County, Washington",22,53019,"Ferry County, Washington",0,53019,"Ferry County, Washington",0,53019,"Ferry County, Washington",0,53019,"Ferry County, Washington",2,53019,"Ferry County, Washington",0
11,53021,"Franklin County, Washington",1212,53021,"Franklin County, Washington",16,53021,"Franklin County, Washington",16,53021,"Franklin County, Washington",285,53021,"Franklin County, Washington",55,53021,"Franklin County, Washington",259
12,53023,"Garfield County, Washington",0,53023,"Garfield County, Washington",0,53023,"Garfield County, Washington",0,53023,"Garfield County, Washington",0,53023,"Garfield County, Washington",0,53023,"Garfield County, Washington",0
13,53025,"Grant County, Washington",195,53025,"Grant County, Washington",0,53025,"Grant County, Washington",1,53025,"Grant County, Washington",15,53025,"Grant County, Washington",6,53025,"Grant County, Washington",106
14,53027,"Grays Harbor County, Washington",1545,53027,"Grays Harbor County, Washington",44,53027,"Grays Harbor County, Washington",31,53027,"Grays Harbor County, Washington",386,53027,"Grays Harbor County, Washington",103,53027,"Grays Harbor County, Washington",224
15,53029,"Island County, Washington",44,53029,"Island County, Washington",1,53029,"Island County, Washington",0,53029,"Island County, Washington",7,53029,"Island County, Washington",0,53029,"Island County, Washington",5
16,53031,"Jefferson County, Washington",306,53031,"Jefferson County, Washington",6,53031,"Jefferson County, Washington",0,53031,"Jefferson County, Washington",72,53031,"Jefferson County, Washington",20,53031,"Jefferson County, Washington",21
17,53033,"King County, Washington",1977,53033,"King County, Washington",11,53033,"King County, Washington",188,53033,"King County, Washington",1147,53033,"King County, Washington",135,53033,"King County, Washington",546
18,53035,"Kitsap County, Washington",303,53035,"Kitsap County, Washington",1,53035,"Kitsap County, Washington",1,53035,"Kitsap County, Washington",69,53035,"Kitsap County, Washington",30,53035,"Kitsap County, Washington",21
19,53037,"Kittitas County, Washington",99,53037,"Kittitas County, Washington",0,53037,"Kittitas County, Washington",1,53037,"Kittitas County, Washington",7,53037,"Kittitas County, Washington",6,53037,"Kittitas County, Washington",12
20,53039,"Klickitat County, Washington",25,53039,"Klickitat County, Washington",0,53039,"Klickitat County, Washington",0,53039,"Klickitat County, Washington",1,53039,"Klickitat County, Washington",5,53039,"Klickitat County, Washington",1
21,53041,"Lewis County, Washington",137,53041,"Lewis County, Washington",0,53041,"Lewis County, Washington",3,53041,"Lewis County, Washington",4,53041,"Lewis County, Washington",8,53041,"Lewis County, Washington",19
22,53043,"Lincoln County, Washington",12,53043,"Lincoln County, Washington",0,53043,"Lincoln County, Washington",0,53043,"Lincoln County, Washington",0,53043,"Lincoln County, Washington",1,53043,"Lincoln County, Washington",0
23,53045,"Mason County, Washington",1436,53045,"Mason County, Washington",13,53045,"Mason County, Washington",13,53045,"Mason County, Washington",337,53045,"Mason County, Washington",80,53045,"Mason County, Washington",170
24,53047,"Okanogan County, Washington",116,53047,"Okanogan County, Washington",0,53047,"Okanogan County, Washington",0,53047,"Okanogan County, Washington",8,53047,"Okanogan County, Washington",29,53047,"Okanogan County, Washington",38
25,53049,"Pacific County, Washington",18,53049,"Pacific County, Washington",0,53049,"Pacific County, Washington",0,53049,"Pacific County, Washington",0,53049,"Pacific County, Washington",1,53049,"Pacific County, Washington",4
26,53051,"Pend Oreille County, Washington",21,53051,"Pend Oreille County, Washington",0,53051,"Pend Oreille County, Washington",0,53051,"Pend Oreille County, Washington",1,53051,"Pend Oreille County, Washington",3,53051,"Pend Oreille County, Washington",0
27,53053,"Pierce County, Washington",3667,53053,"Pierce County, Washington",47,53053,"Pierce County, Washington",120,53053,"Pierce County, Washington",1003,53053,"Pierce County, Washington",212,53053,"Pierce County, Washington",1115
28,53055,"San Juan County, Washington",0,53055,"San Juan County, Washington",0,53055,"San Juan County, Washington",0,53055,"San Juan County, Washington",0,53055,"San Juan County, Washington",0,53055,"San Juan County, Washington",0
29,53057,"Skagit County, Washington",184,53057,"Skagit County, Washington",0,53057,"Skagit County, Washington",1,53057,"Skagit County, Washington",5,53057,"Skagit County, Washington",4,53057,"Skagit County, Washington",52
30,53059,"Skamania County, Washington",24,53059,"Skamania County, Washington",0,53059,"Skamania County, Washington",0,53059,"Skamania County, Washington",0,53059,"Skamania County, Washington",1,53059,"Skamania County, Washington",2
31,53061,"Snohomish County, Washington",2706,53061,"Snohomish County, Washington",39,53061,"Snohomish County, Washington",48,53061,"Snohomish County, Washington",662,53061,"Snohomish County, Washington",160,53061,"Snohomish County, Washington",286
32,53063,"Spokane County, Washington",2340,53063,"Spokane County, Washington",23,53063,"Spokane County, Washington",24,53063,"Spokane County, Washington",387,53063,"Spokane County, Washington",165,53063,"Spokane County, Washington",363
33,53065,"Stevens County, Washington",33,53065,"Stevens County, Washington",1,53065,"Stevens County, Washington",0,53065,"Stevens County, Washington",0,53065,"Stevens County, Washington",3,53065,"Stevens County, Washington",0
34,53067,"Thurston County, Washington",720,53067,"Thurston County, Washington",14,53067,"Thurston County, Washington",9,53067,"Thurston County, Washington",150,53067,"Thurston County, Washington",35,53067,"Thurston County, Washington",55
35,53069,"Wahkiakum County, Washington",6,53069,"Wahkiakum County, Washington",0,53069,"Wahkiakum County, Washington",0,53069,"Wahkiakum County, Washington",0,53069,"Wahkiakum County, Washington",0,53069,"Wahkiakum County, Washington",0
36,53071,"Walla Walla County, Washington",1620,53071,"Walla Walla County, Washington",28,53071,"Walla Walla County, Washington",15,53071,"Walla Walla County, Washington",556,53071,"Walla Walla County, Washington",102,53071,"Walla Walla County, Washington",286
37,53073,"Whatcom County, Washington",340,53073,"Whatcom County, Washington",0,53073,"Whatcom County, Washington",4,53073,"Whatcom County, Washington",31,53073,"Whatcom County, Washington",75,53073,"Whatcom County, Washington",30
38,53075,"Whitman County, Washington",31,53075,"Whitman County, Washington",0,53075,"Whitman County, Washington",1,53075,"Whitman County, Washington",0,53075,"Whitman County, Washington",2,53075,"Whitman County, Washington",10
39,53077,"Yakima County, Washington",792,53077,"Yakima County, Washington",2,53077,"Yakima County, Washington",20,53077,"Yakima County, Washington",140,53077,"Yakima County, Washington",131,53077,"Yakima County, Washington",458